{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 3 versions",
            "ie >= 7",
            "ff >= 30",
            "chrome >= 34",
            "safari >= 6",
            "opera >= 12.1"
          ]
        }
      }
    ]
  ]
}

