@import "./base/normalize.styl"
@import "./base/layout.styl"

$color-primary = #42b983
$color-text = #34495e
$color-link = #505d6b

strong()
  font-weight 600

paragraph-margin()
  margin 1.2em 0

paragraph-style()
  line-height 25.6px
  word-spacing 0.8px

list-style()
  padding-left 24px

.d-sidebar__nav ul li a
  color $color-link

.d-markdown
  a
    color $color-primary
    font-weight 600

  h1
    font-size: 32px
    margin: 0 0 16px
    strong()

  h2
    font-size: 28px
    margin: 45px 0 12.8px
    strong()

  h3
    font-size: 24px
    margin: 40px 0 9.6px
    strong()

  h4
    font-size: 20px
    strong()

  h5
    font-size: 16px;

  h6
    color: #777;
    font-size: 16px

  p
    line-height 25.6px
    word-spacing 0.8px

  strong
    strong()

  figure
    paragraph-margin()

  p
    paragraph-margin()
    paragraph-style()

  ul
    paragraph-margin()
    paragraph-style()
    list-style()

  ol
    paragraph-margin()
    paragraph-style()
    list-style()

  code-basic()
    -moz-osx-font-smoothing initial
    -webkit-font-smoothing initial
    background-color: #f8f8f8;
    font-family: Roboto Mono, Monaco, courier, monospace;

  pre
    code-basic()
    line-height 24px
    margin 1.2em 0
    overflow auto
    padding 0 22.4px
    position relative
    word-wrap normal
    & > code
      color #525252
      display block
      line-height inherit
      max-width inherit
      overflow inherit
      padding 2.2em 5px
      white-space inherit
    &:after
      color #ccc
      content attr(data-lang)
      font-size 9.6px
      font-weight 600
      height 15px
      line-height 15px
      padding 5px 10px 0
      position absolute
      right 0
      text-align right
      top 0

  code
    code-basic()
    border-radius 2px
    color #e96900
    font-size 12px
    margin 0 2px
    padding 3px 5px
    white-space pre-wrap

  blockquote
    border-left: 4px solid $color-primary
    color: #858585
    margin: 2em 0
    padding-left: 20px

  /* code highlight begin */
  .token.comment
  .token.prolog
  .token.doctype
  .token.cdata
    color #8e908c

  .token.namespace
    opacity 0.7

  .token.boolean,
  .token.number
    color #c76b29

  .token.punctuation
    color #525252

  .token.property
    color #c08b30

  .token.tag
    color #2973b7

  .token.string
    color $color-primary

  .token.selector
    color #6679cc

  .token.attr-name
    color #2973b7

  .token.entity
  .token.url
  .language-css .token.string
  .style .token.string
    color #22a2c9

  .token.attr-value,
  .token.control,
  .token.directive,
  .token.unit
    color $color-primary

  .token.keyword
    color #e96900

  .token.statement,
  .token.regex,
  .token.atrule
    color #22a2c9

  .token.placeholder,
  .token.variable
    color #3d8fd1

  .token.deleted
    text-decoration line-through

  .token.inserted
    border-bottom 1px dotted #202746
    text-decoration none

  .token.italic
    font-style italic

  .token.important,
  .token.bold
    font-weight bold

  .token.important
    color #c94922

  .token.entity
    cursor help

/* code highlight end */

.d-markdown__anchor
  display inline-block
  text-decoration none

  &:hover
    text-decoration underline

  span
    color $color-text
